@import '../obnulenie.css';
@import '../global_style_CSS/globalStyle.css';
@import '../header/header.css';
@import '../footer/footer.css';
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;900&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@800;900&display=swap");
.sectionOne {
  width: 100%;
}

.sectionOne-container {
  height: 85vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sectionOne__information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.sectionOne__information_img {
  -webkit-animation: img 2s ease-out;
          animation: img 2s ease-out;
}
@-webkit-keyframes img {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}
@keyframes img {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}
@media (max-width: 1790px) {
  .sectionOne__information_img {
    width: 750px;
  }
}
@media (max-width: 1440px) {
  .sectionOne__information_img {
    width: 650px;
  }
}
@media (max-width: 835px) {
  .sectionOne__information_img {
    width: 500px;
  }
}

.sectionOne__information_titleH1-green {
  -webkit-animation: titleGreen 1.3s ease-out;
          animation: titleGreen 1.3s ease-out;
}
@-webkit-keyframes titleGreen {
  from {
    -webkit-transform: translateY(-450px);
            transform: translateY(-450px);
    opacity: 0%;
  }
  to {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 100%;
  }
}
@keyframes titleGreen {
  from {
    -webkit-transform: translateY(-450px);
            transform: translateY(-450px);
    opacity: 0%;
  }
  to {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 100%;
  }
}

.sectionOne__information_titleH1-white {
  -webkit-animation: titleWhite 1.3s ease-out;
          animation: titleWhite 1.3s ease-out;
}
@-webkit-keyframes titleWhite {
  from {
    -webkit-transform: translateY(450px);
            transform: translateY(450px);
    opacity: 0%;
  }
  to {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 100%;
  }
}
@keyframes titleWhite {
  from {
    -webkit-transform: translateY(450px);
            transform: translateY(450px);
    opacity: 0%;
  }
  to {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 100%;
  }
}

.sectionTwo {
  max-width: 100%;
  margin-top: 193px;
}
@media (max-width: 1440px) {
  .sectionTwo {
    margin-top: 90px;
  }
}

.sectionTwo__runStrokeContainer {
  border-top: 1px solid #363636;
  border-bottom: 1px solid #363636;
  padding: 40px 0;
}
@media (max-width: 800px) {
  .sectionTwo__runStrokeContainer {
    padding: 30px 0;
  }
}

.sectionTwo__runStroke {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}
.sectionTwo__runStroke ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.sectionTwo__runStroke ul li {
  color: #FFF;
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}
@media (max-width: 800px) {
  .sectionTwo__runStroke ul li {
    font-size: 14px;
  }
}
.sectionTwo__runStroke ul li::after {
  content: "/";
  color: #ADFF00;
  font-family: "Montserrat";
  margin: 0 100px;
}

.sectionThree {
  max-width: 100%;
  margin-top: 300px;
}
@media (max-width: 1270px) {
  .sectionThree {
    margin-top: 200px;
  }
}

.sectionThree__container {
  max-width: 1400px;
  margin: 0 auto;
  background-color: #1E1E1E;
}

.sectionThree_text {
  color: #fff;
  font-family: "Montserrat";
  font-size: 35px;
  font-weight: 600;
  line-height: normal;
  line-height: 50px;
  border: 2px solid #ADFF00;
  padding: 65px;
  border-radius: 25px;
}
@media (max-width: 1790px) {
  .sectionThree_text {
    max-width: 1000px;
    margin: 0 auto;
    font-size: 25px;
  }
}
@media (max-width: 1270px) {
  .sectionThree_text {
    font-size: 18px;
    max-width: 750px;
    line-height: 30px;
    padding: 40px;
    border-radius: 15px;
  }
}
@media (max-width: 800px) {
  .sectionThree_text {
    max-width: 450px;
    font-weight: normal;
    text-align: center;
  }
}

.sectionFour {
  width: 100%;
  margin-top: 400px;
}
@media (max-width: 1270px) {
  .sectionFour {
    margin-top: 300px;
  }
}

.sectionFour-container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.sectionFour__featuresItems_item {
  padding: 100px 0 30px 0;
  border-top: 1px solid #363636;
}
.sectionFour__featuresItems_item:first-child {
  margin-top: 100px;
}
.sectionFour__featuresItems_item:last-child {
  border-bottom: 1px solid #363636;
}
.sectionFour__featuresItems_item:hover h2 {
  color: #FFF;
  -webkit-text-stroke: none;
  -webkit-transition: 600ms;
  transition: 600ms;
}
.sectionFour__featuresItems_item p {
  color: rgba(173, 255, 0, 0.8);
  font-family: "Montserrat";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 59px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}
@media (max-width: 1020px) {
  .sectionFour__featuresItems_item p {
    font-size: 14px;
  }
}

.sectionFive {
  max-width: 100%;
  margin-top: 370px;
}
@media (max-width: 1790px) {
  .sectionFive {
    margin-top: 300px;
  }
}

.sectionFive-container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 1400px;
  margin: 0 auto;
}

.sectionFive__title {
  color: #FFF;
  text-align: center;
  -webkit-font-feature-settings: "case" on, "liga" off;
          font-feature-settings: "case" on, "liga" off;
  text-shadow: 0px -10px 50px rgba(255, 255, 255, 0.15);
  font-family: "Rubik";
  font-size: 96px;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}
.sectionFive__title span {
  color: #1E1E1E;
  text-shadow: 0px 0px 75px rgba(204, 255, 0, 0.2);
  font-family: "Rubik";
  font-size: 96px;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  -webkit-text-stroke: #ADFF00 2px;
}
@media (max-width: 1790px) {
  .sectionFive__title {
    font-size: 66px;
  }
  .sectionFive__title span {
    font-size: 66px;
  }
}
@media (max-width: 835px) {
  .sectionFive__title {
    font-size: 46px;
  }
  .sectionFive__title span {
    font-size: 46px;
    -webkit-text-stroke: #ADFF00 1px;
  }
}

.sectionFive__link {
  margin-top: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 1790px) {
  .sectionFive__link {
    margin-top: 120px;
  }
}

.sectionFive__link_imgs {
  position: relative;
}
.sectionFive__link_imgs svg {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
@media (max-width: 1790px) {
  .sectionFive__link_imgs svg {
    width: 120px;
  }
}
.sectionFive__link_imgs svg:nth-child(2) {
  top: -71px;
  left: -72px;
  -webkit-animation: 7s linear 0s normal none infinite running svg;
          animation: 7s linear 0s normal none infinite running svg;
}
@-webkit-keyframes svg {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes svg {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@media (max-width: 1790px) {
  .sectionFive__link_imgs svg:nth-child(2) {
    top: -71px;
    left: -45px;
    width: 90px;
  }
}
@media (max-width: 1790px) {
  .sectionFive__link_imgs svg:nth-child(3) {
    width: 26px;
  }
}