//! ----------------- HEADER-CSS START ----------------- !//
.header {
	width: 100%;
	animation: header 1.5s ease-out 1300ms backwards;
	z-index: 99;
	background: #1e1e1e;
	@keyframes header {
		from {
			transform: translateY(-150px);
			opacity: 0%;
		}
		to {
			transform: translateY(0px);
			opacity: 100%;
		}
	}
	@media (max-width: 765px) {
		position: fixed !important;
		margin-top: -8vh !important;
		z-index: 99 !important;
		background: #1e1e1e !important;
		border-bottom: 1px solid #363636 !important;
	}
}
.header-container {
	align-items: center;
	justify-content: space-between;
	padding: 40px 0;
	@media (max-width: 1790px) {
		padding: 40px 45px !important;
	}
}
.header__menuBurger {
	display: none;
	@media (max-width: 765px) {
		display: block !important;
		width: 25px !important;
		height: 2px !important;
		background: #FFF !important;
		position: relative !important;
		transition: 300ms !important;
		z-index: 100 !important;
		&::before {
			content: '' !important;
			position: absolute !important;
			width: 11px !important;
			height: 2px !important;
			background: #FFF !important;
			top: -7px !important;
			right: 0 !important;
			transition: 300ms !important;
		}
		&::after {
			content: '' !important;
			position: absolute !important;
			width: 11px !important;
			height: 2px !important;
			background: #FFF !important;
			bottom: -7px !important;
			left: 0 !important;
			transition: 300ms !important;
		}
		&.click {
			transition: 300ms !important;
			background: #ADFF00 !important;
			rotate: 45deg !important;
			&::before {
				content: '' !important;
				background: #ADFF00 !important;
				transition: 300ms !important;
				rotate: -90deg !important;
				right: 7px !important;
			}
			&::after {
				content: '' !important;
				background: #ADFF00 !important;
				transition: 300ms !important;
				rotate: -90deg !important;
				left: 7px !important;
			}
		}
	}
}
.header__MainMenu {
	display: flex;
	align-items: center;
	@media (max-width: 765px) {
		display: none !important;
		&.click {
			position: fixed !important;
			left: 0 !important;
			top: 0 !important;
			transition: 350ms !important;
			display: block !important;
			width: 100vw !important;
			height: 100vh !important;
			border-radius: 0 25px 25px 0 !important;
			z-index: 98 !important;
			padding-left: 45px !important;
			padding-top: 150px !important;
			backdrop-filter: blur(10px) !important;
			.header__MainMenu_link {
				margin: 0 !important;
				margin-bottom: 30px !important;
				a {
					font-size: 18px !important;
					&::after {
						display: none !important;
					}
				}
			}
		}
	}

}
.header__MainMenu_link {
	margin-right: 60px;
	position: relative;
	&:last-child {
		margin-right: 0;
	}
	@media (max-width: 1020px) {
		margin-right: 45px !important;
	}
	a::after {
		content: '';
		position: absolute;
		left: 0;
		bottom: -6px;
		width: 100%;
		height: 3px;
		background: #ADFF00;
		border-radius: 3px;
		transform-origin: right;
		transform: scaleX(0);
		transition: transform 0.5s;
	}
	a:hover::after {
		transform-origin: left;
		transform: scaleX(1);
	}
}
.header__SecondMenu {
	display: flex;
	align-items: center;
}
.header__SecondMenu_link {
	position: relative;
	color: #ADFF00;
	font-family: 'Montserrat';
	font-size: 16px;
	&:nth-child(2) {
		margin: 0 30px;
		@media (max-width: 440px) {
			margin: 0 15px !important;
		}
	}
	a::after {
		content: '';
		position: absolute;
		left: 0;
		bottom: -6px;
		width: 100%;
		height: 3px;
		background: #ADFF00;
		border-radius: 3px;
		transform-origin: right;
		transform: scaleX(0);
		transition: transform .5s;
	}
	a:hover::after {
		transform-origin: left;
		transform: scaleX(1);
	}
	@media (max-width: 765px) {
		z-index: 100 !important;
		font-size: 18px !important;
		a {
			font-size: 18px !important;
		}
	}
	@media (max-width: 440px) {
		font-size: 14px !important;
		a {
			font-size: 14px !important;
		}
	}
}
//! ----------------- HEADER-CSS END ----------------- !//