.header {
  width: 100%;
  -webkit-animation: header 1.5s ease-out 1300ms backwards;
          animation: header 1.5s ease-out 1300ms backwards;
  z-index: 99;
  background: #1e1e1e;
}
@-webkit-keyframes header {
  from {
    -webkit-transform: translateY(-150px);
            transform: translateY(-150px);
    opacity: 0%;
  }
  to {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 100%;
  }
}
@keyframes header {
  from {
    -webkit-transform: translateY(-150px);
            transform: translateY(-150px);
    opacity: 0%;
  }
  to {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 100%;
  }
}
@media (max-width: 765px) {
  .header {
    position: fixed !important;
    margin-top: -8vh !important;
    z-index: 99 !important;
    background: #1e1e1e !important;
    border-bottom: 1px solid #363636 !important;
  }
}

.header-container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 40px 0;
}
@media (max-width: 1790px) {
  .header-container {
    padding: 40px 45px !important;
  }
}
@media (max-width: 590px) {
  .header-container {
    padding: 40px 30px !important;
  }
}

.header__menuBurger {
  display: none;
}
@media (max-width: 765px) {
  .header__menuBurger {
    display: block !important;
    width: 25px !important;
    height: 2px !important;
    background: #FFF !important;
    position: relative !important;
    -webkit-transition: 300ms !important;
    transition: 300ms !important;
    z-index: 100 !important;
  }
  .header__menuBurger::before {
    content: "" !important;
    position: absolute !important;
    width: 11px !important;
    height: 2px !important;
    background: #FFF !important;
    top: -7px !important;
    right: 0 !important;
    -webkit-transition: 300ms !important;
    transition: 300ms !important;
  }
  .header__menuBurger::after {
    content: "" !important;
    position: absolute !important;
    width: 11px !important;
    height: 2px !important;
    background: #FFF !important;
    bottom: -7px !important;
    left: 0 !important;
    -webkit-transition: 300ms !important;
    transition: 300ms !important;
  }
  .header__menuBurger.click {
    -webkit-transition: 300ms !important;
    transition: 300ms !important;
    background: #ADFF00 !important;
    rotate: 45deg !important;
  }
  .header__menuBurger.click::before {
    content: "" !important;
    background: #ADFF00 !important;
    -webkit-transition: 300ms !important;
    transition: 300ms !important;
    rotate: -90deg !important;
    right: 7px !important;
  }
  .header__menuBurger.click::after {
    content: "" !important;
    background: #ADFF00 !important;
    -webkit-transition: 300ms !important;
    transition: 300ms !important;
    rotate: -90deg !important;
    left: 7px !important;
  }
}

.header__MainMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 765px) {
  .header__MainMenu {
    display: none !important;
  }
  .header__MainMenu.click {
    position: fixed !important;
    left: 0 !important;
    top: 0 !important;
    -webkit-transition: 350ms !important;
    transition: 350ms !important;
    display: block !important;
    width: 100vw !important;
    height: 100vh !important;
    border-radius: 0 25px 25px 0 !important;
    z-index: 98 !important;
    padding-left: 45px !important;
    padding-top: 150px !important;
    -webkit-backdrop-filter: blur(10px) !important;
            backdrop-filter: blur(10px) !important;
  }
  .header__MainMenu.click .header__MainMenu_link {
    margin: 0 !important;
    margin-bottom: 30px !important;
  }
  .header__MainMenu.click .header__MainMenu_link a {
    font-size: 18px !important;
  }
  .header__MainMenu.click .header__MainMenu_link a::after {
    display: none !important;
  }
}

.header__MainMenu_link {
  margin-right: 60px;
  position: relative;
}
.header__MainMenu_link:last-child {
  margin-right: 0;
}
@media (max-width: 1020px) {
  .header__MainMenu_link {
    margin-right: 45px !important;
  }
}
.header__MainMenu_link a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 3px;
  background: #ADFF00;
  border-radius: 3px;
  -webkit-transform-origin: right;
      -ms-transform-origin: right;
          transform-origin: right;
  -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}
.header__MainMenu_link a:hover::after {
  -webkit-transform-origin: left;
      -ms-transform-origin: left;
          transform-origin: left;
  -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
          transform: scaleX(1);
}

.header__SecondMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__SecondMenu_link {
  position: relative;
  color: #ADFF00;
  font-family: "Montserrat";
  font-size: 16px;
}
.header__SecondMenu_link:nth-child(2) {
  margin: 0 30px;
}
@media (max-width: 440px) {
  .header__SecondMenu_link:nth-child(2) {
    margin: 0 15px !important;
  }
}
.header__SecondMenu_link a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 3px;
  background: #ADFF00;
  border-radius: 3px;
  -webkit-transform-origin: right;
      -ms-transform-origin: right;
          transform-origin: right;
  -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}
.header__SecondMenu_link a:hover::after {
  -webkit-transform-origin: left;
      -ms-transform-origin: left;
          transform-origin: left;
  -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
          transform: scaleX(1);
}
@media (max-width: 765px) {
  .header__SecondMenu_link {
    z-index: 100 !important;
    font-size: 18px !important;
  }
  .header__SecondMenu_link a {
    font-size: 18px !important;
  }
}
@media (max-width: 440px) {
  .header__SecondMenu_link {
    font-size: 14px !important;
  }
  .header__SecondMenu_link a {
    font-size: 14px !important;
  }
}

.button {
  border-radius: 20px;
  padding: 15px 50px;
  text-decoration: none;
  position: relative;
  color: #fff;
  font-family: "Montserrat";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.4px;
  display: inline-block;
  overflow: hidden;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
@media (max-width: 1020px) {
  .button {
    font-size: 14px !important;
  }
}
@media (max-width: 590px) {
  .button {
    padding: 0 !important;
    overflow: none !important;
    -webkit-transition: none !important;
    transition: none !important;
  }
}

.button__line {
  position: absolute;
  display: block;
}

.button:hover {
  border-radius: 38.5px;
  background-color: #ADFF00;
  color: #1E1E1E;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(173, 255, 0, 0.25), 0px 0px 25px 0px rgba(173, 255, 0, 0.25), 0px 0px 40px 0px rgba(173, 255, 0, 0.25);
          box-shadow: 0px 0px 15px 0px rgba(173, 255, 0, 0.25), 0px 0px 25px 0px rgba(173, 255, 0, 0.25), 0px 0px 40px 0px rgba(173, 255, 0, 0.25);
}

.button__line--top {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: -webkit-gradient(linear, left top, right top, from(transparent), to(#ADFF00));
  background: linear-gradient(90deg, transparent, #ADFF00);
}

.button:hover .button__line--top {
  left: 100%;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transition-delay: 0.25s;
          transition-delay: 0.25s;
}

.button__line--bottom {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: -webkit-gradient(linear, right top, left top, from(transparent), to(#ADFF00));
  background: linear-gradient(270deg, transparent, #ADFF00);
}

.button:hover .button__line--bottom {
  right: 100%;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transition-delay: 0.25s;
          transition-delay: 0.25s;
}

.button__line--left {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(transparent), to(#ADFF00));
  background: linear-gradient(0deg, transparent, #ADFF00);
}

.button:hover .button__line--left {
  bottom: 100%;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transition-delay: 0;
          transition-delay: 0;
}

.button__line--right {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(#ADFF00));
  background: linear-gradient(180deg, transparent, #ADFF00);
}

.button:hover .button__line--right {
  top: 100%;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transition-delay: 0;
          transition-delay: 0;
}

@media (max-width: 590px) {
  .button__line {
    display: none !important;
  }
  .button:hover {
    border-radius: none !important;
    background-color: transparent !important;
    color: #FFF !important;
    -webkit-transition: none !important;
    transition: none !important;
    -webkit-transition-delay: none !important;
            transition-delay: none !important;
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
  }
  .button__line--top {
    display: none !important;
  }
  .button__line--bottom {
    display: none !important;
  }
  .button__line--left {
    display: none !important;
  }
  .button__line--right {
    display: none !important;
  }
}