.header {
  width: 100%;
  -webkit-animation: header 1.5s ease-out 1300ms backwards;
          animation: header 1.5s ease-out 1300ms backwards;
}
@-webkit-keyframes header {
  from {
    -webkit-transform: translateY(-150px);
            transform: translateY(-150px);
    opacity: 0%;
  }
  to {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 100%;
  }
}
@keyframes header {
  from {
    -webkit-transform: translateY(-150px);
            transform: translateY(-150px);
    opacity: 0%;
  }
  to {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 100%;
  }
}

.header-container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 40px 0;
}
@media (max-width: 1790px) {
  .header-container {
    padding: 40px 45px;
  }
}

.header__MainMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 765px) {
  .header__MainMenu::before {
    content: url("../../img_source/menu.svg");
    cursor: pointer;
  }
}

.header__MainMenu_link {
  margin-right: 60px;
  position: relative;
}
.header__MainMenu_link:last-child {
  margin-right: 0;
}
@media (max-width: 1020px) {
  .header__MainMenu_link {
    margin-right: 45px;
  }
}
.header__MainMenu_link a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 3px;
  background: #ADFF00;
  border-radius: 3px;
  -webkit-transform-origin: right;
      -ms-transform-origin: right;
          transform-origin: right;
  -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}
.header__MainMenu_link a:hover::after {
  -webkit-transform-origin: left;
      -ms-transform-origin: left;
          transform-origin: left;
  -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
          transform: scaleX(1);
}
@media (max-width: 765px) {
  .header__MainMenu_link {
    display: none;
  }
}

.header__SecondMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__SecondMenu_link {
  position: relative;
  color: #ADFF00;
  font-family: "Montserrat";
  font-size: 16px;
}
.header__SecondMenu_link:nth-child(2) {
  margin: 0 30px;
}
.header__SecondMenu_link a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 3px;
  background: #ADFF00;
  border-radius: 3px;
  -webkit-transform-origin: right;
      -ms-transform-origin: right;
          transform-origin: right;
  -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}
.header__SecondMenu_link a:hover::after {
  -webkit-transform-origin: left;
      -ms-transform-origin: left;
          transform-origin: left;
  -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
          transform: scaleX(1);
}