//? ----------------- IMPORT START ----------------- ?//
@import 'obnulenie.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;900&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@800;900&display=swap');
//? ----------------- IMPORT END ----------------- ?//



//! ----------------- GLOBAL-CSS START ----------------- !//
body {
	background-color: #1E1E1E;
	min-height: 100%;
	cursor: none;
	a {
		cursor: none;
	}
	user-select: none; //?запрет на копирование
}
.mouse { //? Кастомный курсор
	position: fixed;
	transform: scale(0);
	width: 30px;
	height: 30px;
	border-radius: 100%;
	border: 1px solid #fff;
	pointer-events: none;
	z-index: 100000;
}
body:hover .mouse { //? Кастомный курсор
	transform: scale(1);
	transform: translate(-12px, -10px);
}
[class*='header-link'] {
	color: #FFFFFF;
	font-family: 'Montserrat';
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	transition: 0.5s;
	&:hover {
		color: #ADFF00;
		transition: 0.5s;
	}
}
[class*='_titleH1-white'] {
	color: #FFF;
	font-feature-settings: 'case' on, 'liga' off;
	text-shadow: 0px -10px 50px rgba(255, 255, 255, 0.15);
	font-family: 'Rubik';
	font-size: 180px;
	font-style: normal;
	font-weight: 900;
	line-height: normal;
	text-transform: uppercase;
	z-index: 2;
	margin-top: -170px;
}
[class*='_titleH1-green'] {
	font-feature-settings: 'case' on, 'liga' off;
	text-shadow: 0px 0px 75px rgba(204, 255, 0, 0.15);
	font-family: 'Rubik';
	font-size: 180px;
	font-style: normal;
	font-weight: 900;
	line-height: normal;
	text-transform: uppercase;
	color: #1E1E1E;
	-webkit-text-stroke: #ADFF00 3px;
	z-index: -1;
	margin-bottom: -220px;
}
//! ----------------- GLOBAL-CSS END ----------------- !//



//* ----------------- HEADER-CSS START ----------------- *//
.header {
	width: 100%;
}
.header-container {
	max-width: 1400px;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 30px 0;
}
.header__MainMenu {
	display: flex;
	align-items: center;
}
.header__MainMenu_link {
	margin-right: 60px;
	position: relative;
	&:last-child {
		margin-right: 0;
	}
	a::after {
		content: '';
		position: absolute;
		left: 0;
		bottom: -6px;
		width: 100%;
		height: 3px;
		background: #ADFF00;
		border-radius: 3px;
		transform-origin: right;
		transform: scaleX(0);
		transition: transform .5s;
	}
	a:hover::after {
		transform-origin: left;
		transform: scaleX(1);
	}
}
.header__SecondMenu {
	display: flex;
	align-items: center;
}
.header__SecondMenu_link {
	position: relative;
	color: #ADFF00;
	font-family: 'Montserrat';
	font-size: 16px;
	&:nth-child(2) {
		margin: 0 30px;
	}
	a::after {
		content: '';
		position: absolute;
		left: 0;
		bottom: -6px;
		width: 100%;
		height: 3px;
		background: #ADFF00;
		border-radius: 3px;
		transform-origin: right;
		transform: scaleX(0);
		transition: transform .5s;
	}
	a:hover::after {
		transform-origin: left;
		transform: scaleX(1);
	}
}
//* ----------------- HEADER-CSS END ----------------- *//



//* ----------------- SECTION_ONE-CSS START ----------------- *//
.sectionOne {
	width: 100%;
}
.sectionOne-container {
	max-width: 1400px;
	margin: 0 auto;
	height: 85vh;
	display: flex;
	align-items: center;
	justify-content: center;
}
.sectionOne__information {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
}
.sectionOne__information_img {
}
//* ----------------- SECTION_ONE-CSS END ----------------- *//







