@import 'obnulenie.css';
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;900&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@800;900&display=swap");
body {
  background-color: #1E1E1E;
  min-height: 100%;
  cursor: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
body a {
  cursor: none;
}

.mouse {
  position: fixed;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: 1px solid #fff;
  pointer-events: none;
  z-index: 100000;
}

body:hover .mouse {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  -webkit-transform: translate(-12px, -10px);
      -ms-transform: translate(-12px, -10px);
          transform: translate(-12px, -10px);
}

[class*=header-link] {
  color: #FFFFFF;
  font-family: "Montserrat";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
[class*=header-link]:hover {
  color: #ADFF00;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

[class*=_titleH1-white] {
  color: #FFF;
  -webkit-font-feature-settings: "case" on, "liga" off;
          font-feature-settings: "case" on, "liga" off;
  text-shadow: 0px -10px 50px rgba(255, 255, 255, 0.15);
  font-family: "Rubik";
  font-size: 180px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: uppercase;
  z-index: 2;
  margin-top: -170px;
}

[class*=_titleH1-green] {
  -webkit-font-feature-settings: "case" on, "liga" off;
          font-feature-settings: "case" on, "liga" off;
  text-shadow: 0px 0px 75px rgba(204, 255, 0, 0.15);
  font-family: "Rubik";
  font-size: 180px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: uppercase;
  color: #1E1E1E;
  -webkit-text-stroke: #ADFF00 3px;
  z-index: -1;
  margin-bottom: -220px;
}

.header {
  width: 100%;
}

.header-container {
  max-width: 1400px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px 0;
}

.header__MainMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__MainMenu_link {
  margin-right: 60px;
  position: relative;
}
.header__MainMenu_link:last-child {
  margin-right: 0;
}
.header__MainMenu_link a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 3px;
  background: #ADFF00;
  border-radius: 3px;
  -webkit-transform-origin: right;
      -ms-transform-origin: right;
          transform-origin: right;
  -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}
.header__MainMenu_link a:hover::after {
  -webkit-transform-origin: left;
      -ms-transform-origin: left;
          transform-origin: left;
  -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
          transform: scaleX(1);
}

.header__SecondMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__SecondMenu_link {
  position: relative;
  color: #ADFF00;
  font-family: "Montserrat";
  font-size: 16px;
}
.header__SecondMenu_link:nth-child(2) {
  margin: 0 30px;
}
.header__SecondMenu_link a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 3px;
  background: #ADFF00;
  border-radius: 3px;
  -webkit-transform-origin: right;
      -ms-transform-origin: right;
          transform-origin: right;
  -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}
.header__SecondMenu_link a:hover::after {
  -webkit-transform-origin: left;
      -ms-transform-origin: left;
          transform-origin: left;
  -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
          transform: scaleX(1);
}

.sectionOne {
  width: 100%;
}

.sectionOne-container {
  max-width: 1400px;
  margin: 0 auto;
  height: 85vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sectionOne__information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}