//? ----------------- IMPORT START ----------------- ?//
@import '../obnulenie.css';
@import '../global_style_CSS/globalStyle.css';
@import '../header/header.css';
@import '../footer/footer.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;900&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@800;900&display=swap');
//? ----------------- IMPORT END ----------------- ?//



//* ----------------- SECTION_ONE-CSS START ----------------- *//
.sectionOne {
	width: 100%;
}
.sectionOne-container {
	height: 85vh;
	align-items: center;
	justify-content: center;
}
.sectionOne__information {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
}
.sectionOne__information_img {
	padding: 120px 0;
	animation: img 2s ease-out;
	@keyframes img {
		from {
			opacity: 0%;
		}
		to {
			opacity: 100%;
		}
	}
}
.sectionOne__information_titleH1-green {
	animation: titleGreen 1.3s ease-out;
	@keyframes titleGreen {
		from {
			transform: translateY(-450px);
			opacity: 0%;
		}
		to {
			transform: translateY(0px);
			opacity: 100%;
		}
	}
}
.sectionOne__information_titleH1-white {
	animation: titleWhite 1.3s ease-out;
	@keyframes titleWhite {
		from {
			transform: translateY(450px);
			opacity: 0%;
		}
		to {
			transform: translateY(0px);
			opacity: 100%;
		}
	}
}
//* ----------------- SECTION_ONE-CSS END ----------------- *//



//* ----------------- SECTION_TWO-CSS START ----------------- *//
.sectionTwo {
	width: 100%;
	background: url('../../img_source/technology_bgDrone.png') center center/cover no-repeat;
	padding: 160px 0;
	margin-top: 335px;
}
.sectionTwo-container {
}
.sectionTwo__informationContainer {
	text-align: center;
	margin: 0 auto;
}
.sectionTwo__informationContainer_titleH2 {
	color: #FFF;
	-webkit-text-stroke: none;
	margin-bottom: 50px;
}
.sectionTwo__informationContainer_description {
	max-width: 605px;
}
//* ----------------- SECTION_TWO-CSS END ----------------- *//



//* ----------------- SECTION_THREE-CSS START ----------------- *//
.sectionThree {
	width: 100%;
	margin-top: 300px;
}
.sectionThree-container {
	flex-direction: column;
}
.sectionThree__titleH4 {
	border-bottom: #363636 1px solid;
	padding-bottom: 60px;
}
.sectionThreePartsDrone {
	margin-top: 85px;
}
//* ----------------- SECTION_THREE-CSS END ----------------- *//



//* ----------------- SECTION_FOUR-CSS START ----------------- *//
.sectionFour {
	width: 100%;
	margin-top: 300px;
}
.sectionFour-container {
	flex-direction: column;
}
.sectionFour__titleH4 {
	border-bottom: #363636 1px solid;
	padding-bottom: 60px;
}
.sectionFour__items {
	margin-top: 30px;
}
.sectionFour__items_item {
}
.sectionFour__items_item_titleH3 {
	padding: 60px 0;
	transition: 350ms;
	display: grid;
	grid-template-columns: 80px auto;
	.sectionFour__items_item_titleH3_greenSpan {
        color: #ADFF0066;
		font-family: 'Montserrat';
		font-size: 36px;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
		text-transform: uppercase;
		margin-right: 35px;
		transition: 350ms;
    }
    &:hover {
		cursor: pointer;
		color: #fff;
		transition: 350ms;
		.sectionFour__items_item_titleH3_greenSpan {
			color: #ADFF00;
			transition: 350ms;
		}
    }
	&.active {
		color: #FFF;
		.sectionFour__items_item_titleH3_greenSpan {
			color: #ADFF00;
		}
		.sectionFour__items_item_descriptionContainer {
			display: grid;
			grid-template-columns: 500px 500px;
			grid-gap: 40px;
		}
	}
}
.sectionFour__items_item_descriptionContainer {
	display: grid;
	grid-template-columns: 450px 450px;
	column-gap: 120px;
	row-gap: 45px;
	align-items: start;
	color: #FFF;
	.sectionFour__items_item_descriptionContainer_description {
		.sectionFour__items_item_descriptionContainer_description_titleH5 {
			color: #ADFF00;
			font-family: 'Montserrat';
			font-size: 22px;
			font-style: normal;
			font-weight: 600;
			line-height: normal;
			text-decoration-line: underline;
			margin-bottom: 25px;
		}
		p {
			color: #FFF;
			font-family: 'Montserrat';
			font-size: 16px;
			font-style: normal;
			font-weight: 400;
			line-height: normal;
			span {
				font-weight: 600;
			}
			margin-bottom: 15px;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}
//* ----------------- SECTION_FOUR-CSS END ----------------- *//