@import '../obnulenie.css';
@import '../global_style_CSS/globalStyle.css';
@import '../header/header.css';
@import '../footer/footer.css';
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;900&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@800;900&display=swap");
.sectionOne {
  width: 100%;
}

.sectionOne-container {
  height: 85vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sectionOne__information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.sectionOne__information_img {
  padding: 120px 0;
  -webkit-animation: img 2s ease-out;
          animation: img 2s ease-out;
}
@-webkit-keyframes img {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}
@keyframes img {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

.sectionOne__information_titleH1-green {
  -webkit-animation: titleGreen 1.3s ease-out;
          animation: titleGreen 1.3s ease-out;
}
@-webkit-keyframes titleGreen {
  from {
    -webkit-transform: translateY(-450px);
            transform: translateY(-450px);
    opacity: 0%;
  }
  to {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 100%;
  }
}
@keyframes titleGreen {
  from {
    -webkit-transform: translateY(-450px);
            transform: translateY(-450px);
    opacity: 0%;
  }
  to {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 100%;
  }
}

.sectionOne__information_titleH1-white {
  -webkit-animation: titleWhite 1.3s ease-out;
          animation: titleWhite 1.3s ease-out;
}
@-webkit-keyframes titleWhite {
  from {
    -webkit-transform: translateY(450px);
            transform: translateY(450px);
    opacity: 0%;
  }
  to {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 100%;
  }
}
@keyframes titleWhite {
  from {
    -webkit-transform: translateY(450px);
            transform: translateY(450px);
    opacity: 0%;
  }
  to {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 100%;
  }
}

.sectionTwo {
  width: 100%;
  background: url("../../img_source/technology_bgDrone.png") center center/cover no-repeat;
  padding: 160px 0;
  margin-top: 335px;
}

.sectionTwo__informationContainer {
  text-align: center;
  margin: 0 auto;
}

.sectionTwo__informationContainer_titleH2 {
  color: #FFF;
  -webkit-text-stroke: none;
  margin-bottom: 50px;
}

.sectionTwo__informationContainer_description {
  max-width: 605px;
}

.sectionThree {
  width: 100%;
  margin-top: 300px;
}

.sectionThree-container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sectionThree__titleH4 {
  border-bottom: #363636 1px solid;
  padding-bottom: 60px;
}

.sectionThreePartsDrone {
  margin-top: 85px;
}

.sectionFour {
  width: 100%;
  margin-top: 300px;
}

.sectionFour-container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sectionFour__titleH4 {
  border-bottom: #363636 1px solid;
  padding-bottom: 60px;
}

.sectionFour__items {
  margin-top: 30px;
}

.sectionFour__items_item_titleH3 {
  padding: 60px 0;
  -webkit-transition: 350ms;
  transition: 350ms;
  display: grid;
  grid-template-columns: 80px auto;
}
.sectionFour__items_item_titleH3 .sectionFour__items_item_titleH3_greenSpan {
  color: rgba(173, 255, 0, 0.4);
  font-family: "Montserrat";
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  margin-right: 35px;
  -webkit-transition: 350ms;
  transition: 350ms;
}
.sectionFour__items_item_titleH3:hover {
  cursor: pointer;
  color: #fff;
  -webkit-transition: 350ms;
  transition: 350ms;
}
.sectionFour__items_item_titleH3:hover .sectionFour__items_item_titleH3_greenSpan {
  color: #ADFF00;
  -webkit-transition: 350ms;
  transition: 350ms;
}
.sectionFour__items_item_titleH3.active {
  color: #FFF;
}
.sectionFour__items_item_titleH3.active .sectionFour__items_item_titleH3_greenSpan {
  color: #ADFF00;
}
.sectionFour__items_item_titleH3.active .sectionFour__items_item_descriptionContainer {
  display: grid;
  grid-template-columns: 500px 500px;
  grid-gap: 40px;
}

.sectionFour__items_item_descriptionContainer {
  display: grid;
  grid-template-columns: 450px 450px;
  -webkit-column-gap: 120px;
     -moz-column-gap: 120px;
          column-gap: 120px;
  row-gap: 45px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  color: #FFF;
}
.sectionFour__items_item_descriptionContainer .sectionFour__items_item_descriptionContainer_description .sectionFour__items_item_descriptionContainer_description_titleH5 {
  color: #ADFF00;
  font-family: "Montserrat";
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-decoration-line: underline;
  margin-bottom: 25px;
}
.sectionFour__items_item_descriptionContainer .sectionFour__items_item_descriptionContainer_description p {
  color: #FFF;
  font-family: "Montserrat";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 15px;
}
.sectionFour__items_item_descriptionContainer .sectionFour__items_item_descriptionContainer_description p span {
  font-weight: 600;
}
.sectionFour__items_item_descriptionContainer .sectionFour__items_item_descriptionContainer_description p:last-child {
  margin-bottom: 0;
}