@import '../obnulenie.css';
@import '../global_style_CSS/globalStyle.css';
@import '../header/header.css';
@import '../footer/footer.css';
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;900&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@800;900&display=swap");
.sectionOne {
  width: 100%;
}

.sectionOne-container {
  height: 85vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sectionOne__information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.sectionOne__information_img {
  padding: 120px 0;
  -webkit-animation: img 2s ease-out;
          animation: img 2s ease-out;
}
@-webkit-keyframes img {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}
@keyframes img {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

.sectionOne__information_titleH1-green {
  -webkit-animation: titleGreen 1.3s ease-out;
          animation: titleGreen 1.3s ease-out;
}
@-webkit-keyframes titleGreen {
  from {
    -webkit-transform: translateY(-450px);
            transform: translateY(-450px);
    opacity: 0%;
  }
  to {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 100%;
  }
}
@keyframes titleGreen {
  from {
    -webkit-transform: translateY(-450px);
            transform: translateY(-450px);
    opacity: 0%;
  }
  to {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 100%;
  }
}

.sectionOne__information_titleH1-white {
  -webkit-animation: titleWhite 1.3s ease-out;
          animation: titleWhite 1.3s ease-out;
}
@-webkit-keyframes titleWhite {
  from {
    -webkit-transform: translateY(450px);
            transform: translateY(450px);
    opacity: 0%;
  }
  to {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 100%;
  }
}
@keyframes titleWhite {
  from {
    -webkit-transform: translateY(450px);
            transform: translateY(450px);
    opacity: 0%;
  }
  to {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 100%;
  }
}

.sectionTwo {
  width: 100%;
  background: url("../../img_source/technology_bgDrone.png") center center/cover no-repeat;
  padding: 160px 0;
  margin-top: 335px;
}

.sectionTwo__informationContainer {
  text-align: center;
  margin: 0 auto;
}

.sectionTwo__informationContainer_titleH2 {
  color: #FFF;
  -webkit-text-stroke: none;
  margin-bottom: 50px;
}

.sectionTwo__informationContainer_description {
  max-width: 605px;
}

.sectionThree {
  width: 100%;
  margin-top: 300px;
}

.sectionThree-container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sectionThree__titleH4 {
  border-bottom: #363636 1px solid;
  padding-bottom: 60px;
}

.sectionThreePartsDrone {
  margin-top: 85px;
}

.sectionFour {
  width: 100%;
  margin-top: 300px;
}

.sectionFour-container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sectionFour__titleH4 {
  border-bottom: #363636 1px solid;
  padding-bottom: 60px;
}

.sectionFour__items {
  margin-top: 30px;
}

.sectionFour__items_item {
  padding: 60px 0;
  -webkit-transition: 350ms;
  transition: 350ms;
  position: relative;
  padding-left: 70px;
}
.sectionFour__items_item:hover {
  cursor: pointer;
}
.sectionFour__items_item:hover .sectionFour__items_item_titleH3 {
  color: #fff;
  -webkit-transition: 350ms;
  transition: 350ms;
}
.sectionFour__items_item:nth-child(1)::before {
  content: "01.";
  position: absolute;
  left: 0;
  color: rgba(173, 255, 0, 0.4);
  font-family: "Montserrat";
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  -webkit-transition: 350ms;
  transition: 350ms;
}
.sectionFour__items_item:nth-child(1):hover::before {
  color: #ADFF00;
  -webkit-transition: 350ms;
  transition: 350ms;
}
.sectionFour__items_item:nth-child(2)::before {
  content: "02.";
  position: absolute;
  left: 0;
  color: rgba(173, 255, 0, 0.4);
  font-family: "Montserrat";
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  -webkit-transition: 350ms;
  transition: 350ms;
}
.sectionFour__items_item:nth-child(2):hover::before {
  color: #ADFF00;
  -webkit-transition: 350ms;
  transition: 350ms;
}
.sectionFour__items_item:nth-child(3)::before {
  content: "03.";
  position: absolute;
  left: 0;
  color: rgba(173, 255, 0, 0.4);
  font-family: "Montserrat";
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  -webkit-transition: 350ms;
  transition: 350ms;
}
.sectionFour__items_item:nth-child(3):hover::before {
  color: #ADFF00;
  -webkit-transition: 350ms;
  transition: 350ms;
}
.sectionFour__items_item:nth-child(4)::before {
  content: "04.";
  position: absolute;
  left: 0;
  color: rgba(173, 255, 0, 0.4);
  font-family: "Montserrat";
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  -webkit-transition: 350ms;
  transition: 350ms;
}
.sectionFour__items_item:nth-child(4):hover::before {
  color: #ADFF00;
  -webkit-transition: 350ms;
  transition: 350ms;
}
.sectionFour__items_item:nth-child(5)::before {
  content: "05.";
  position: absolute;
  left: 0;
  color: rgba(173, 255, 0, 0.4);
  font-family: "Montserrat";
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  -webkit-transition: 350ms;
  transition: 350ms;
}
.sectionFour__items_item:nth-child(5):hover::before {
  color: #ADFF00;
  -webkit-transition: 350ms;
  transition: 350ms;
}
.sectionFour__items_item:nth-child(6)::before {
  content: "06.";
  position: absolute;
  left: 0;
  color: rgba(173, 255, 0, 0.4);
  font-family: "Montserrat";
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  -webkit-transition: 350ms;
  transition: 350ms;
}
.sectionFour__items_item:nth-child(6):hover::before {
  color: #ADFF00;
  -webkit-transition: 350ms;
  transition: 350ms;
}
.sectionFour__items_item:nth-child(7)::before {
  content: "07.";
  position: absolute;
  left: 0;
  color: rgba(173, 255, 0, 0.4);
  font-family: "Montserrat";
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  -webkit-transition: 350ms;
  transition: 350ms;
}
.sectionFour__items_item:nth-child(7):hover::before {
  color: #ADFF00;
  -webkit-transition: 350ms;
  transition: 350ms;
}
.sectionFour__items_item:nth-child(8)::before {
  content: "08.";
  position: absolute;
  left: 0;
  color: rgba(173, 255, 0, 0.4);
  font-family: "Montserrat";
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  -webkit-transition: 350ms;
  transition: 350ms;
}
.sectionFour__items_item:nth-child(8):hover::before {
  color: #ADFF00;
  -webkit-transition: 350ms;
  transition: 350ms;
}
.sectionFour__items_item:nth-child(9)::before {
  content: "09.";
  position: absolute;
  left: 0;
  color: rgba(173, 255, 0, 0.4);
  font-family: "Montserrat";
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  -webkit-transition: 350ms;
  transition: 350ms;
}
.sectionFour__items_item:nth-child(9):hover::before {
  color: #ADFF00;
  -webkit-transition: 350ms;
  transition: 350ms;
}
.sectionFour__items_item:nth-child(10)::before {
  content: "10.";
  position: absolute;
  left: 0;
  color: rgba(173, 255, 0, 0.4);
  font-family: "Montserrat";
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  -webkit-transition: 350ms;
  transition: 350ms;
}
.sectionFour__items_item:nth-child(10):hover::before {
  color: #ADFF00;
  -webkit-transition: 350ms;
  transition: 350ms;
}
.sectionFour__items_item:nth-child(11)::before {
  content: "11.";
  position: absolute;
  left: 0;
  color: rgba(173, 255, 0, 0.4);
  font-family: "Montserrat";
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  -webkit-transition: 350ms;
  transition: 350ms;
}
.sectionFour__items_item:nth-child(11):hover::before {
  color: #ADFF00;
  -webkit-transition: 350ms;
  transition: 350ms;
}
.sectionFour__items_item:nth-child(12)::before {
  content: "12.";
  position: absolute;
  left: 0;
  color: rgba(173, 255, 0, 0.4);
  font-family: "Montserrat";
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  -webkit-transition: 350ms;
  transition: 350ms;
}
.sectionFour__items_item:nth-child(12):hover::before {
  color: #ADFF00;
  -webkit-transition: 350ms;
  transition: 350ms;
}