//? ----------------- IMPORT START ----------------- ?//
@import '../obnulenie.css';
@import '../global_style_CSS/globalStyle.css';
@import '../header/header.css';
@import '../footer/footer.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;900&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@800;900&display=swap');
//? ----------------- IMPORT END ----------------- ?//



//* ----------------- SECTION_ONE-CSS START ----------------- *//
.sectionOne {
	width: 100%;
}
.sectionOne-container {
	height: 75vh;
	align-items: center;
	justify-content: center;
	@media (max-height: 650px) {
		height: 100vh !important;
	}
}
.sectionOne__information {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
	@media (max-width: 590px) {
		text-align: center !important;
	}
}
.sectionOne__information_img {
	padding: 120px 0;
	animation: img 2s ease-out;
	@keyframes img {
		from {
			opacity: 0%;
		}
		to {
			opacity: 100%;
		}
	}
	@media (max-width: 1850px) {
		max-width: 65% !important;
		padding: 90px 0 !important;
	}
	@media (max-width: 1550px) {
		max-width: 60% !important;
		padding: 90px 0 !important;
	}
	@media (max-width: 590px) {
		order: 1 !important;
		padding: 0 0 60px 0 !important;
	}
	@media (max-width: 440px) {
		max-width: 310px !important;
	}
}
.sectionOne__information_titleH1-green {
	animation: titleGreen 1.3s ease-out;
	margin-bottom: -150px;
	@keyframes titleGreen {
		from {
			transform: translateY(-450px);
			opacity: 0%;
		}
		to {
			transform: translateY(0px);
			opacity: 100%;
		}
	}
	@media (max-width: 590px) {
		max-width: 100% !important;
		order: 2 !important;
	}
}
.sectionOne__information_titleH1-white {
	animation: titleWhite 1.3s ease-out;
	margin-top: -90px;
	@keyframes titleWhite {
		from {
			transform: translateY(450px);
			opacity: 0%;
		}
		to {
			transform: translateY(0px);
			opacity: 100%;
		}
	}
	@media (max-width: 590px) {
		width: 350px !important;
		order: 3 !important;
	}
	@media (max-width: 440px) {
		max-width: 100% !important;
	}
}
//* ----------------- SECTION_ONE-CSS END ----------------- *//



//* ----------------- SECTION_TWO-CSS START ----------------- *//
.sectionTwo {
	width: 100%;
	background: url('../../img_source/technology_bgDrone.png') center center/cover no-repeat;
	padding: 160px 0;
	margin-top: 335px;
}
.sectionTwo-container {
}
.sectionTwo__informationContainer {
	text-align: center;
	margin: 0 auto;
}
.sectionTwo__informationContainer_titleH2 {
	color: #FFF;
	-webkit-text-stroke: none;
	margin-bottom: 50px;
}
.sectionTwo__informationContainer_description {
	max-width: 605px;
}
//* ----------------- SECTION_TWO-CSS END ----------------- *//



//* ----------------- SECTION_THREE-CSS START ----------------- *//
.sectionThree {
	width: 100%;
	margin-top: 300px;
}
.sectionThree-container {
	flex-direction: column;
}
.sectionThree__titleH4 {
	border-bottom: #363636 1px solid;
	padding-bottom: 60px;
}
.sectionThreePartsDrone {
	margin-top: 85px;
}
//* ----------------- SECTION_THREE-CSS END ----------------- *//



//* ----------------- SECTION_FOUR-CSS START ----------------- *//
.sectionFour {
	width: 100%;
	margin-top: 300px;
}
.sectionFour-container {
	flex-direction: column;
}
.sectionFour__titleH4 {
	border-bottom: #363636 1px solid;
	padding-bottom: 60px;
}
.sectionFour__items {
	margin-top: 30px;
}
.sectionFour__items_item {
}
.sectionFour__items_item_titleH3 {
	padding: 60px 0;
	transition: 350ms;
	display: grid;
	grid-template-columns: 80px auto;
	@media (max-width: 590px) {
		grid-template-columns: 50px auto !important;
	}
	.sectionFour__items_item_titleH3_greenSpan {
        color: #ADFF0066;
		font-family: 'Montserrat';
		font-size: 36px;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
		text-transform: uppercase;
		margin-right: 35px;
		transition: 350ms;
		@media (max-width: 835px) {
			font-size: 26px;
		}
		@media (max-width: 590px) {
			font-size: 22px;
		}
		@media (max-width: 440px) {
			font-size: 18px;
		}
    }
    &:hover {
		color: #fff;
		transition: 350ms;
		.sectionFour__items_item_titleH3_greenSpan {
			color: #ADFF00;
			transition: 350ms;
		}
    }
	&.active {
		color: #FFF;
		.sectionFour__items_item_titleH3_greenSpan {
			color: #ADFF00;
		}
		.sectionFour__items_item_descriptionContainer {
			display: grid;
			grid-template-columns: 500px 500px;
			grid-gap: 40px;
		}
	}
}
.sectionFour__items_item_descriptionContainer {
	display: grid;
	grid-template-columns: 1fr auto;
	column-gap: 60px;
	align-items: center;
	@media (max-width: 1520px) {
		grid-template-columns: auto !important;
		justify-content: center !important;
		.sectionFour__items_item_descriptionContainer_video {
			margin-bottom: 60px !important;
			order: 1 !important;
		}
		.sectionFour__items_item_descriptionContainer_descriptions {
			order: 2 !important;
		}
	}
}
.sectionFour__items_item_descriptionContainer_descriptions {
	display: grid;
	grid-template-columns: 320px 320px;
	word-wrap: normal;
	column-gap: 45px;
	row-gap: 45px;
	align-items: start;
	color: #FFF;
	@media (max-width: 1080px) {
		row-gap: 45px !important;
		column-gap: 70px !important;
		grid-template-columns: 300px 300px !important;
	}
	@media (max-width: 835px) {
		column-gap: 0 !important;
		row-gap: 60px !important;
		grid-template-columns: 300px !important;
	}
	@media (max-width: 440px) {
		grid-template-columns: auto !important;
		justify-content: center !important;
		align-items: center !important;
	}
	.sectionFour__items_item_descriptionContainer_descriptions_description {
		.sectionFour__items_item_descriptionContainer_descriptions_description_titleH5 {
			color: #ADFF00;
			font-family: 'Montserrat';
			font-size: 22px;
			font-style: normal;
			font-weight: 600;
			line-height: normal;
			text-decoration-line: underline;
			margin-bottom: 25px;
			@media (max-width: 835px) {
				font-size: 16px !important;
				margin-bottom: 18px !important;
			}
		}
		p {
			color: #FFF;
			font-family: 'Montserrat';
			font-size: 16px;
			font-style: normal;
			font-weight: 400;
			line-height: normal;
			span {
				font-weight: 600;
			}
			margin-bottom: 15px;
			&:last-child {
				margin-bottom: 0;
			}
			@media (max-width: 835px) {
				font-size: 14px !important;
			}
		}
	}
}
//* ----------------- SECTION_FOUR-CSS END ----------------- *//