//! ----------------- GLOBAL-CSS START ----------------- !//
body {
	background-color: #1E1E1E;
	min-height: 100%;
	user-select: none; //?запрет на копирование
	display: flex;
	flex-direction: column;
}
main {
	flex: 1 1 auto;
}
img {
	max-width: 100%;
}
[class*='-container'] {
	max-width: 1490px;
	margin: 0 auto;
	display: flex;
	padding: 0 45px;
}
[class*='header-link'] {
	color: #FFFFFF;
	font-family: 'Montserrat';
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	transition: 0.5s;
	&:hover {
		color: #ADFF00;
		transition: 0.5s;
	}
	@media (max-width: 1020px) {
		font-size: 14px;
	}
}
[class*='_titleH1-white'] {
	color: #FFF;
	text-shadow: 0px -10px 50px rgba(255, 255, 255, 0.15);
	font-family: 'Rubik';
	font-size: 180px;
	font-style: normal;
	font-weight: 900;
	line-height: normal;
	text-transform: uppercase;
	z-index: 2;
	margin-top: -170px;
	@media (max-width: 1790px) {
		font-size: 140px;
		margin-top: -120px;
	}
	@media (max-width: 1440px) {
		font-size: 110px;
		margin-top: -90px;
	}
	@media (max-width: 835px) {
		font-size: 75px;
		margin-top: -75px;
	}
}
[class*='_titleH1-green'] {
	text-shadow: 0px 0px 75px rgba(204, 255, 0, 0.15);
	font-family: 'Rubik';
	font-size: 180px;
	font-style: normal;
	font-weight: 900;
	line-height: normal;
	text-transform: uppercase;
	color: #1E1E1E;
	-webkit-text-stroke: #ADFF00 3px;
	z-index: -1;
	margin-bottom: -220px;
	@media (max-width: 1790px) {
		font-size: 140px;
		margin-bottom: -150px;
	}
	@media (max-width: 1440px) {
		font-size: 110px;
		margin-bottom: -120px;
	}
	@media (max-width: 835px) {
		font-size: 75px;
		-webkit-text-stroke: #ADFF00 2px;
		margin-bottom: -95px;
	}
}
[class*='_titleH4'] {
	color: #FFF;
	font-family: 'Montserrat';
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	text-transform: uppercase;
	display: flex;
	align-items: center;
	div {
		width: 10px;
		height: 10px;
		border-radius: 100%;
		background: #ADFF00;
		margin-right: 15px;
	}
	@media (max-width: 1020px) {
		font-size: 16px;
	}
}
[class*='_titleH2'] {
	font-family: 'Rubik';
	font-size: 70px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	letter-spacing: 8.4px;
	text-transform: uppercase;
	color: transparent;
	-webkit-text-stroke: #FFF 1.5px;
	transition: 600ms;
	@media (max-width: 1790px) {
		font-size: 50px;
	}
	@media (max-width: 835px) {
		font-size: 40px;
		-webkit-text-stroke: #FFF 1px;
	}
}
[class*='_titleH3'] {
	color: #858585;
	font-family: 'Montserrat';
	font-size: 36px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	text-transform: uppercase;
}
[class*='_description'] {
	color: #FFF;
	font-family: 'Montserrat';
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	span {
		font-weight: 600;
	}
}
.anim-items {
	opacity: 0;
	transform: translate(0, 200px);
	&.show {
		opacity: 1;
		transform: translate(0, 0);
		transition: all 850ms ease-out;
		transition-delay: 250ms;
	}
}
.anim-items-left {
	opacity: 0;
	transform: translate(50px, 200px);
	&.show {
		opacity: 1;
		transform: translate(0, 0);
		transition: all 850ms ease-out;
		transition-delay: 250ms;
	}
}
[class*='_Button'] {
	color: #FFF;
	text-shadow: 0px -10px 30px rgba(255, 255, 255, 0.15);
	font-family: 'Rubik';
	font-size: 80px;
	font-weight: 400;
	line-height: normal;
	text-transform: uppercase;
	background-color: transparent;
	border: #ADFF00 solid 7px;
	border-radius: 15px;
	min-width: 130px;
	min-height: 130px;
	padding: 0 30px;
	transition: 700ms;
	&:hover {
		transition: 300ms;
		color: #1E1E1E;
		background-color: #ADFF00;
		box-shadow: 0px 0px 15px 0px rgba(173, 255, 0, 0.60);
	}
}
//! ----------------- GLOBAL-CSS END ----------------- !//



//? ----------------- GLOBAL-CSS @ MEDIA START ----------------- ?//

//*                 @media (max-width: 1790px)
//*                 @media (max-width: 1440px)
//*                 @media (max-width: 1270px)
//*                 @media (max-width: 1020px)
//*                 @media (max-width: 835px)
//*                 @media (max-width: 800px)

//? ----------------- GLOBAL-CSS @ MEDIA END ----------------- ?//