@import '../../styles/obnulenie.css';
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;900&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@800;900&display=swap");
body {
  background: #1E1E1E;
  overflow: hidden;
  font-family: "Arial", sans-serif;
}

.appContainer {
  padding: 25px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  width: 100vw;
  height: 100vh;
  position: relative;
}
.appContainer .appContainer__FAQimg {
  position: absolute;
  right: 50px;
  top: 25px;
  color: #D9D9D9;
  cursor: pointer;
  width: 0%;
  opacity: 0.5;
}
.appContainer .appContainer__FAQimg:hover {
  color: #ADFF00;
  opacity: 1;
}
.appContainer .test {
  display: none;
  width: 90vw;
  height: 80vh;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 0 25px;
  z-index: 10;
}
.appContainer.darkScreen {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  background: #000;
  width: 100vw;
  height: 100vh;
  opacity: 0.7;
}

.keyLeftContainer {
  position: absolute;
  left: 25px;
  bottom: 25px;
  display: grid;
  grid-template-columns: repeat(3, 52px);
  grid-template-rows: repeat(3, 52px);
}

.keyRightContainer {
  position: absolute;
  right: 25px;
  bottom: 25px;
  display: grid;
  grid-template-columns: repeat(3, 52px);
  grid-template-rows: repeat(3, 52px);
}

#keyW {
  grid-row: 1/2;
  grid-column: 2/3;
  color: transparent;
}
#keyW path {
  fill: #D9D9D9;
}
#keyW circle {
  stroke: #D9D9D9;
}
#keyW:hover {
  color: #D9D9D9;
}
#keyW:hover path {
  fill: #1E1E1E;
}

#keyA {
  grid-row: 2/3;
  grid-column: 1/3;
  color: transparent;
}
#keyA path {
  fill: #D9D9D9;
}
#keyA circle {
  stroke: #D9D9D9;
}
#keyA:hover {
  color: #D9D9D9;
}
#keyA:hover path {
  fill: #1E1E1E;
}

#keyS {
  grid-row: 3/4;
  grid-column: 2/3;
  color: transparent;
}
#keyS path {
  fill: #D9D9D9;
}
#keyS circle {
  stroke: #D9D9D9;
}
#keyS:hover {
  color: #D9D9D9;
}
#keyS:hover path {
  fill: #1E1E1E;
}

#keyD {
  grid-row: 2/3;
  grid-column: 3/4;
  color: transparent;
}
#keyD path {
  fill: #D9D9D9;
}
#keyD circle {
  stroke: #D9D9D9;
}
#keyD:hover {
  color: #D9D9D9;
}
#keyD:hover path {
  fill: #1E1E1E;
}

#keyR {
  grid-row: 1/2;
  grid-column: 2/3;
  color: transparent;
}
#keyR path {
  fill: #D9D9D9;
}
#keyR circle {
  stroke: #D9D9D9;
}
#keyR:hover {
  color: #D9D9D9;
}
#keyR:hover path {
  fill: #1E1E1E;
}

#keyQ {
  grid-row: 2/3;
  grid-column: 1/3;
  color: transparent;
}
#keyQ path {
  fill: #D9D9D9;
}
#keyQ circle {
  stroke: #D9D9D9;
}
#keyQ:hover {
  color: #D9D9D9;
}
#keyQ:hover path {
  fill: #1E1E1E;
}

#keyF {
  grid-row: 3/4;
  grid-column: 2/3;
  color: transparent;
}
#keyF path {
  fill: #D9D9D9;
}
#keyF circle {
  stroke: #D9D9D9;
}
#keyF:hover {
  color: #D9D9D9;
}
#keyF:hover path {
  fill: #1E1E1E;
}

#keyE {
  grid-row: 2/3;
  grid-column: 3/4;
  color: transparent;
}
#keyE path {
  fill: #D9D9D9;
}
#keyE circle {
  stroke: #D9D9D9;
}
#keyE:hover {
  color: #D9D9D9;
}
#keyE:hover path {
  fill: #1E1E1E;
}

.map-container {
  position: absolute;
  left: 25px;
  top: 0;
  width: 600px;
  height: 300px;
  margin: 40px auto;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  z-index: -2;
}

#map {
  width: 100%;
  height: 100%;
  border: none;
}

iframe {
  position: absolute;
  top: 85%;
  left: 50%;
  -webkit-transform: translate(-50%, -90%);
      -ms-transform: translate(-50%, -90%);
          transform: translate(-50%, -90%);
}

.drone-coordinates {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 125px;
  margin-top: 20px;
  font-size: 18px;
  color: #fff;
  left: 40%;
  right: 15%;
  top: 25px;
  z-index: -1;
}

.drone-coordinates p {
  margin-bottom: 10px;
}

.drone-coordinates span {
  color: #fff;
}