@import '../obnulenie.css';
@import '../global_style_CSS/globalStyle.css';
@import '../header/header.css';
@import '../footer/footer.css';
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;900&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@800;900&display=swap");
body {
  background-image: url("../../img_source/obychenie_bg.png");
  background-position: top;
}

.sectionOne {
  width: 100%;
}

.sectionOne-container {
  height: 80vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-height: 650px) {
  .sectionOne-container {
    height: 100vh !important;
  }
}

.sectionOne__information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}
@media (max-width: 590px) {
  .sectionOne__information {
    text-align: center !important;
    max-width: 100% !important;
  }
}

.sectionOne__information_img {
  padding: 110px 0 70px 0;
  -webkit-animation: img 2s ease-out;
          animation: img 2s ease-out;
  max-width: 65%;
}
@-webkit-keyframes img {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}
@keyframes img {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}
@media (max-width: 1790px) {
  .sectionOne__information_img {
    max-width: 60% !important;
  }
}
@media (max-width: 1550px) {
  .sectionOne__information_img {
    max-width: 55% !important;
    padding: 60px 0 !important;
  }
}
@media (max-width: 1440px) {
  .sectionOne__information_img {
    width: 450px !important;
  }
}
@media (max-width: 835px) {
  .sectionOne__information_img {
    width: 350px !important;
  }
}
@media (max-width: 590px) {
  .sectionOne__information_img {
    max-width: 300px !important;
    -webkit-box-ordinal-group: 2 !important;
        -ms-flex-order: 1 !important;
            order: 1 !important;
  }
}
@media (max-width: 440px) {
  .sectionOne__information_img {
    max-width: 200px !important;
    margin-bottom: 40px !important;
    padding: 0 !important;
  }
}

.sectionOne__information_titleH1-green {
  -webkit-animation: titleGreen 1.3s ease-out;
          animation: titleGreen 1.3s ease-out;
}
@-webkit-keyframes titleGreen {
  from {
    -webkit-transform: translateY(-450px);
            transform: translateY(-450px);
    opacity: 0%;
  }
  to {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 100%;
  }
}
@keyframes titleGreen {
  from {
    -webkit-transform: translateY(-450px);
            transform: translateY(-450px);
    opacity: 0%;
  }
  to {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 100%;
  }
}
@media (max-width: 590px) {
  .sectionOne__information_titleH1-green {
    width: 350px !important;
    -webkit-box-ordinal-group: 3 !important;
        -ms-flex-order: 2 !important;
            order: 2 !important;
  }
}
@media (max-width: 440px) {
  .sectionOne__information_titleH1-green {
    width: 100% !important;
  }
}

.sectionOne__information_titleH1-white {
  -webkit-animation: titleWhite 1.3s ease-out;
          animation: titleWhite 1.3s ease-out;
}
@-webkit-keyframes titleWhite {
  from {
    -webkit-transform: translateY(450px);
            transform: translateY(450px);
    opacity: 0%;
  }
  to {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 100%;
  }
}
@keyframes titleWhite {
  from {
    -webkit-transform: translateY(450px);
            transform: translateY(450px);
    opacity: 0%;
  }
  to {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 100%;
  }
}
@media (max-width: 590px) {
  .sectionOne__information_titleH1-white {
    width: 350px !important;
    -webkit-box-ordinal-group: 4 !important;
        -ms-flex-order: 3 !important;
            order: 3 !important;
  }
}
@media (max-width: 440px) {
  .sectionOne__information_titleH1-white {
    max-width: 100% !important;
  }
}

.sectionTwo {
  width: 100%;
  margin-top: 500px;
}

.sectionTwo-container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sectionTwo__titleH4 {
  border-bottom: #363636 1px solid;
  padding-bottom: 60px;
}

.sectionTwo__buttonsContainer {
  width: 1050px;
  margin: 240px auto 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 1270px) {
  .sectionTwo__buttonsContainer {
    width: auto !important;
    grid-gap: 120px !important;
  }
}
@media (max-width: 1020px) {
  .sectionTwo__buttonsContainer {
    margin: 180px auto 0 auto !important;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    grid-gap: 120px !important;
  }
}
@media (max-width: 590px) {
  .sectionTwo__buttonsContainer {
    grid-gap: 90px !important;
    margin: 120px auto 0 auto !important;
  }
}

.sectionTwo__buttonsContainer__leftButtons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 50px;
}
@media (max-width: 590px) {
  .sectionTwo__buttonsContainer__leftButtons {
    grid-gap: 35px !important;
  }
}
@media (max-width: 440px) {
  .sectionTwo__buttonsContainer__leftButtons {
    grid-gap: 15px !important;
  }
}

.sectionTwo__buttonsContainer__rightButtons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  grid-gap: 50px;
}
@media (max-width: 590px) {
  .sectionTwo__buttonsContainer__rightButtons {
    grid-gap: 35px !important;
  }
}
@media (max-width: 440px) {
  .sectionTwo__buttonsContainer__rightButtons {
    grid-gap: 15px !important;
  }
}

.sectionThree {
  width: 100%;
  margin-top: 500px;
}
@media (max-width: 1020px) {
  .sectionThree {
    margin-top: 350px !important;
  }
}

.sectionThree-container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sectionThree__titleH4 {
  border-bottom: #363636 1px solid;
  padding-bottom: 60px;
}

.sectionThree__buttonsContainer {
  margin: 240px auto 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
}
@media (max-width: 1020px) {
  .sectionThree__buttonsContainer {
    margin: 180px auto 0 auto !important;
  }
}
@media (max-width: 590px) {
  .sectionThree__buttonsContainer {
    margin: 120px auto 0 auto !important;
    grid-gap: 35px !important;
  }
}
@media (max-width: 440px) {
  .sectionThree__buttonsContainer {
    grid-gap: 15px !important;
  }
}

.sectionFour {
  max-width: 100%;
  margin-top: 370px;
}
@media (max-width: 1790px) {
  .sectionFour {
    margin-top: 300px !important;
  }
}

.sectionFour-container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 1400px;
  margin: 0 auto;
}

.sectionFour__title {
  color: #FFF;
  text-align: center;
  text-shadow: 0px -10px 50px rgba(255, 255, 255, 0.15);
  font-family: "Rubik";
  font-size: 96px;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}
.sectionFour__title span {
  color: #1E1E1E;
  text-shadow: 0px 0px 75px rgba(204, 255, 0, 0.2);
  font-family: "Rubik";
  font-size: 96px;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  -webkit-text-stroke: #ADFF00 2px;
}
@media (max-width: 1790px) {
  .sectionFour__title {
    font-size: 66px !important;
  }
  .sectionFour__title span {
    font-size: 66px !important;
  }
}
@media (max-width: 835px) {
  .sectionFour__title {
    font-size: 46px !important;
  }
  .sectionFour__title span {
    font-size: 46px !important;
    -webkit-text-stroke: #ADFF00 1px !important;
  }
}
@media (max-width: 590px) {
  .sectionFour__title {
    font-size: 32px !important;
  }
  .sectionFour__title span {
    font-size: 32px !important;
    -webkit-text-stroke: #ADFF00 1px !important;
  }
}
@media (max-width: 440px) {
  .sectionFour__title {
    font-size: 26px !important;
  }
  .sectionFour__title span {
    font-size: 26px !important;
    -webkit-text-stroke: #ADFF00 0.5px !important;
  }
}

.sectionFour__link {
  margin-top: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 1790px) {
  .sectionFour__link {
    margin-top: 120px !important;
  }
}

.sectionFour__link_imgs {
  position: relative;
}
.sectionFour__link_imgs svg {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
@media (max-width: 1790px) {
  .sectionFour__link_imgs svg {
    width: 120px !important;
  }
}
.sectionFour__link_imgs svg:nth-child(2) {
  top: -71px;
  left: -72px;
  -webkit-animation: 7s linear 0s normal none infinite running svg;
          animation: 7s linear 0s normal none infinite running svg;
}
@-webkit-keyframes svg {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes svg {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@media (max-width: 1790px) {
  .sectionFour__link_imgs svg:nth-child(2) {
    top: -71px !important;
    left: -45px !important;
    width: 90px !important;
  }
}
@media (max-width: 1790px) {
  .sectionFour__link_imgs svg:nth-child(3) {
    width: 26px !important;
  }
}