//? ----------------- IMPORT START ----------------- ?//
@import '../obnulenie.css';
@import '../global_style_CSS/globalStyle.css';
@import '../header/header.css';
@import '../footer/footer.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;900&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@800;900&display=swap');
//? ----------------- IMPORT END ----------------- ?//


body {
	background-image: url('../../img_source/obychenie_bg.png');
	background-position: top;
}

//* ----------------- SECTION_ONE-CSS START ----------------- *//
.sectionOne {
	width: 100%;
}
.sectionOne-container {
	height: 85vh;
	align-items: center;
	justify-content: center;
}
.sectionOne__information {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
	@media (max-width: 590px) {
		text-align: center !important;
	}
}
.sectionOne__information_img {
	padding: 110px 0 70px 0;
	animation: img 2s ease-out;
	@keyframes img {
		from {
			opacity: 0%;
		}
		to {
			opacity: 100%;
		}
	}
	@media (max-width: 1790px) {
		width: 550px !important;	
	}
	@media (max-width: 1440px) {
		width: 450px !important;
	}
	@media (max-width: 835px) {
		width: 350px !important;
	}
	@media (max-width: 590px) {
		max-width: 300px !important;
		order: 1 !important;
	}
	@media (max-width: 440px) {
		max-width: 200px !important;
	}
}
.sectionOne__information_titleH1-green {
	animation: titleGreen 1.3s ease-out;
	@keyframes titleGreen {
		from {
			transform: translateY(-450px);
			opacity: 0%;
		}
		to {
			transform: translateY(0px);
			opacity: 100%;
		}
	}
	@media (max-width: 590px) {
		width: 350px !important;
		order: 2 !important;
	}
	@media (max-width: 440px) {
		max-width: 100% !important;
	}
}
.sectionOne__information_titleH1-white {
	animation: titleWhite 1.3s ease-out;
	@keyframes titleWhite {
		from {
			transform: translateY(450px);
			opacity: 0%;
		}
		to {
			transform: translateY(0px);
			opacity: 100%;
		}
	}
	@media (max-width: 590px) {
		width: 350px !important;
		order: 3 !important;
	}
	@media (max-width: 440px) {
		max-width: 100% !important;
	}
}
//* ----------------- SECTION_ONE-CSS END ----------------- *//



//* ----------------- SECTION_TWO-CSS START ----------------- *//
.sectionTwo {
	width: 100%;
	margin-top: 500px;
}
.sectionTwo-container {
	flex-direction: column;
}
.sectionTwo__titleH4 {
	border-bottom: #363636 1px solid;
	padding-bottom: 60px;
}
.sectionTwo__buttonsContainer {
	width: 1050px;
	margin: 240px auto 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
	@media (max-width: 1270px) {
		width: 100% !important;
	}
	@media (max-width: 1020px) {
		margin: 180px auto 0 auto !important;
		flex-direction: column !important;
		grid-gap: 120px !important;
	}
	@media (max-width: 590px) {
		grid-gap: 90px !important;
		margin: 120px auto 0 auto !important;
	}
}
.sectionTwo__buttonsContainer__leftButtons {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 50px;
	@media (max-width: 590px) {
		grid-gap: 35px !important;
	}
	@media (max-width: 440px) {
		grid-gap: 15px !important;
	}
}
.sectionTwo__buttonsContainer__leftButtons_Button {
}
.sectionTwo__buttonsContainer__rightButtons {
	display: flex;
	flex-direction: column;
	@media (max-width: 590px) {
		grid-gap: 35px !important;
	}
	@media (max-width: 440px) {
		grid-gap: 15px !important;
	}
}
.sectionTwo__buttonsContainer__rightButtons_Button {
}
//* ----------------- SECTION_TWO-CSS END ----------------- *//



//* ----------------- SECTION_THREE-CSS START ----------------- *//
.sectionThree {
	width: 100%;
	margin-top: 500px;
	@media (max-width: 1020px) {
		margin-top: 350px !important;
	}
}
.sectionThree-container {
	flex-direction: column;
}
.sectionThree__titleH4 {
	border-bottom: #363636 1px solid;
	padding-bottom: 60px;
}
.sectionThree__buttonsContainer {
	margin: 240px auto 0 auto;
	display: flex;
	gap: 50px;
	@media (max-width: 1020px) {
		margin: 180px auto 0 auto !important;
	}
	@media (max-width: 590px) {
		margin: 120px auto 0 auto !important;
		grid-gap: 35px !important;
	}
	@media (max-width: 440px) {
		grid-gap: 15px !important;
	}
}
.sectionThree__buttonsContainer_button {
}
//* ----------------- SECTION_THREE-CSS END ----------------- *//



//* ----------------- SECTION_FOUR-CSS START ----------------- *//
.sectionFour {
	max-width: 100%;
	margin-top: 370px;
	@media (max-width: 1790px) {
		margin-top: 300px !important;
	}
}
.sectionFour-container {
	flex-direction: column;
	max-width: 1400px;
	margin: 0 auto;
}
.sectionFour__title {
	color: #FFF;
	text-align: center;
	text-shadow: 0px -10px 50px rgba(255, 255, 255, 0.15);
	font-family: 'Rubik';
	font-size: 96px;
	font-weight: 400;
	line-height: normal;
	text-transform: uppercase;
	span {
		color: #1E1E1E;
		text-shadow: 0px 0px 75px rgba(204, 255, 0, 0.20);
		font-family: 'Rubik';
		font-size: 96px;
		font-weight: 400;
		line-height: normal;
		text-transform: uppercase;
		-webkit-text-stroke: #ADFF00 2px;
	}
	@media (max-width: 1790px) {
		font-size: 66px !important;
		span {
			font-size: 66px !important;
		}
	}
	@media (max-width: 835px) {
		font-size: 46px !important;
		span {
			font-size: 46px !important;
			-webkit-text-stroke: #ADFF00 1px !important;
		}
	}
	@media (max-width: 590px) {
		font-size: 32px !important;
		span {
			font-size: 32px !important;
			-webkit-text-stroke: #ADFF00 1px !important;
		}
	}
	@media (max-width: 440px) {
		font-size: 26px !important;
		span {
			font-size: 26px !important;
			-webkit-text-stroke: #ADFF00 0.5px !important;
		}
	}
}
.sectionFour__link {
	margin-top: 200px;
	display: flex;
	justify-content: center;
	@media (max-width: 1790px) {
		margin-top: 120px !important;
	}
}
.sectionFour__link_imgs {
	position: relative;
	svg {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		@media (max-width: 1790px) {
			width: 120px !important;
		}
		&:nth-child(2) {
			top: -71px;
			left: -72px;
			animation: 7s linear 0s normal none infinite running svg;
			@keyframes svg {
				0% {
					transform: rotate(0deg);
				}
				100% {
					transform: rotate(360deg);
				}
			}
			@media (max-width: 1790px) {
				top: -71px !important;
				left: -45px !important;
				width: 90px !important;
			}
		}
		&:nth-child(3) {
			@media (max-width: 1790px) {
				width: 26px !important;
			}
		}
	}
}
//* ----------------- SECTION_FOUR-CSS END ----------------- *//