//? ----------------- IMPORT START ----------------- ?//
@import '../obnulenie.css';
@import '../global_style_CSS/globalStyle.css';
@import '../header/header.css';
@import '../footer/footer.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;900&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@800;900&display=swap');
//? ----------------- IMPORT END ----------------- ?//



//* ----------------- SECTION_ONE-CSS START ----------------- *//
.sectionOne {
	width: 100%;
	margin-bottom: 350px;
}
.sectionOne-container {
	height: 85vh;
	align-items: center;
	justify-content: space-between;
}
.sectionOne__informationContainer {
	margin-right: 100px;
	@media (max-width: 1270px) {
		margin-right: 0 !important;
	}
	@media (max-width: 835px) {
		justify-content: none !important;
		margin: 0 auto !important;
	}
}
.sectionOne__informationContainer_titleH1-green {
	margin: 0;
	@media (max-width: 1790px) {
		font-size: 140px !important;
		margin-bottom: 0 !important;
	}
	@media (max-width: 1440px) {
		font-size: 110px !important;
	}
	@media (max-width: 835px) {
		font-size: 75px !important;
		-webkit-text-stroke: #ADFF00 2px !important;
		text-align: center;
	}
	@media (max-width: 765px) {
		font-size: 65px !important;
	}
	@media (max-width: 590px) {
		font-size: 55px !important;
		-webkit-text-stroke: #ADFF00 1px !important;
	}
	@media (max-width: 440px) {
		font-size: 40px !important;
	}
}
.sectionOne__informationContainer_titleH1-white {
	margin: -20px 0;
	@media (max-width: 1790px) {
		font-size: 140px !important;
		margin-top: 0 !important;
	}
	@media (max-width: 1440px) {
		font-size: 110px !important;
	}
	@media (max-width: 835px) {
		font-size: 75px !important;
		text-align: center;
	}
	@media (max-width: 765px) {
		font-size: 65px !important;
	}
	@media (max-width: 590px) {
		font-size: 55px !important;
	}
	@media (max-width: 440px) {
		font-size: 40px !important;
	}
}
.sectionOne__informationContainer_links {
	margin-top: 117px;
	display: flex;
	align-items: center;
	@media (max-width: 835px) {
		flex-direction: column !important;
		svg {
			display: none !important;
		}
		margin-top: 80px !important;
	}
	a:first-child {
		color: #ADFF00;
		font-family: 'Jost';
		font-size: 20px;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
		letter-spacing: 0.4px;
		text-transform: uppercase;
		border-radius: 38.5px;
		border: solid 2px #ADFF00;
		padding: 20px 70px;
		transition: 700ms;
		&:hover {
			color: #1E1E1E;
			transform: translateY(-20px);
			transition: 700ms;
			overflow: hidden;
			box-shadow: 0px 0px 15px 0px rgba(173, 255, 0, 0.25);
			&::after {
				content: '';
				z-index: -1;
				position: absolute;
				width: 0;
				height: 0;
				right: 0;
				top: 0;
				border-radius: 50%;
				background: #ADFF00;
				animation: krug 800ms ease-out;
				animation-fill-mode: both;
				@keyframes krug {
					0% {
						width: 0;
						height: 120px;
						left: -20px;
						top: 50%;
						transform: translate(0,-50%);
					}
					100% {
						width: 350px;
						height: 120px;
						left: -20px;
						top: 50%;
						transform: translate(0,-50%);
					}
				}
			}
		}
		@media (max-width: 1440px) {
			padding: 18px 60px !important;
		}
		@media (max-width: 1270px) {
			font-size: 16px !important;
		}
		@media (max-width: 1020px) {
			padding: 16px 55px !important;
		}
		@media (max-width: 835px) {
			padding: 15px 45px !important;
			margin-bottom: 25px !important;
		}
		@media (max-width: 765px) {
			font-size: 16px !important;
			font-weight: 600 !important;
		}
	}
	a:last-child {
		color: #FFF;
		font-family: 'Jost';
		font-size: 20px;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
		letter-spacing: 0.4px;
		text-transform: uppercase;
		border-radius: 38.5px;
		border: 2px solid #FFF;
		padding: 20px 70px;
		position: relative;
		z-index: 10;
		transition: 700ms;
		&:hover {
			color: #1E1E1E;
			overflow: hidden;
			transform: translateY(-20px);
			transition: 700ms;
			box-shadow: 0px 0px 15px 0px rgba(255, 255, 255, 0.25);
			&::after {
				content: '';
				z-index: -1;
				position: absolute;
				width: 0;
				height: 0;
				right: 0;
				top: 0;
				border-radius: 50%;
				background: #FFF;
				animation: krug 800ms ease-out;
				animation-fill-mode: both;
				@keyframes krug {
					0% {
						width: 0;
						height: 120px;
						left: -20px;
						top: 50%;
						transform: translate(0,-50%);
					}
					100% {
						width: 350px;
						height: 120px;
						left: -20px;
						top: 50%;
						transform: translate(0,-50%);
					}
				}
			}
		}
		@media (max-width: 1440px) {
			padding: 18px 60px !important;
		}
		@media (max-width: 1270px) {
			font-size: 16px !important;
		}
		@media (max-width: 1020px) {
			padding: 16px 55px !important;
		}
		@media (max-width: 835px) {
			padding: 15px 45px !important;
			margin-bottom: 25px !important;
		}
		@media (max-width: 765px) {
			font-size: 16px !important;
			font-weight: 600 !important;
		}
	}
}
.sectionOne__imgContainer {
	@media (max-width: 1790px) {
		max-width: 400px !important;	
	}
	@media (max-width: 1440px) {
		max-width: 350px !important;
	}
	@media (max-width: 1020px) {
		display: none !important;
	}
}
.left:hover  {
	transition: all 200ms ease;
}
.right:hover {
	transition: all 200ms ease;
}
.left.active {
	opacity: 0.2;
	transition: all 200ms ease;
}
.right.active {
	opacity: 0.2;
	transition: all 200ms ease;
}
//* ----------------- SECTION_ONE-CSS END ----------------- *//

//* ----------------- SECTION_TWO-CSS START ----------------- *//
.sectionTwo {
	width: 100%;
}
.sectionTwo-container {
	display: flex;
	flex-direction: column;
}
.sectionThree__titleH4 {
	border-bottom: #363636 1px solid;
	padding-bottom: 60px;
}
.sectionTwo__formContainer {
	margin: 150px 0 -140px 0;
	flex-direction: column;
	text-align: center;
	padding: 80px 30px;
	border: #363636 solid 3px;
	border-radius: 25px;
	@media (max-width: 590px) {
		padding: 80px 15px !important;
	}
	@media (max-width: 440px) {
		border: none !important;
		padding: 80px 0 !important;
	}
}
.sectionTwo__formContainer__titleH3 {
	margin-bottom: 90px;
}
.form__items { 
	display: flex;
	flex-direction: column;
	max-width: 550px;
	margin: 0 auto;
	@media (max-width: 765px) {
		width: 400px !important;
	}
	@media (max-width: 590px) {
		width: 300px !important;
	}
	@media (max-width: 465px) {
		width: 280px !important;
	}
}
.form_input {
	background-color: transparent;
	color: #fff;
	font-family: 'Montserrat';
	font-size: 20px;
	font-weight: 700;
	line-height: normal;
	text-transform: none;
	border-radius: 10px;
	border: 2px solid #363636;
	padding: 15px 32px;
	margin-bottom: 50px;
	@media (max-width: 765px) {
		font-size: 18px !important;
		font-weight: 600 !important;
	}
	@media (max-width: 590px) {
		padding: 15px 0 15px 32px !important;
	}
	&::placeholder {
		color: #363636;
		font-family: 'Montserrat';
		font-size: 20px;
		font-weight: 700;
		line-height: normal;
		text-transform: none;
		@media (max-width: 765px) {
			font-size: 18px !important;
			font-weight: 600 !important;
		}
	}
	&:focus {
		border: 2px solid #ADFF00;
	}
}
._error {
	border: 2px solid #8d2e2e;
}
.form_textarea {
	background-color: transparent;
	border-radius: 10px;
	border: 2px solid #363636;
	padding: 15px 32px 18px 32px;
	margin-bottom: 90px;
	min-width: 550px;
	max-width: 550px;
	color: #fff;
	font-family: 'Montserrat';
	font-size: 20px;
	font-weight: 700;
	line-height: normal;
	text-transform: none;
	resize: none;
    &.auto {
        overflow-y: hidden;
    }
	@media (max-width: 765px) {
		font-size: 18px !important;
		font-weight: 600 !important;
		max-width: 400px !important;
		min-width: 400px !important;
		margin: 0 auto 90px auto !important;
	}
	@media (max-width: 590px) {
		max-width: 300px !important;
		min-width: 300px !important;
		padding: 15px 0 15px 32px !important;
	}
	@media (max-width: 465px) {
		max-width: 280px !important;
		min-width: 280px !important;
	}
	&:focus {
		border: 2px solid #ADFF00;
	}
	&::placeholder {
		color: #363636;
		font-family: 'Montserrat';
		font-size: 20px;
		font-weight: 700;
		line-height: normal;
		text-transform: none;
		@media (max-width: 765px) {
			font-size: 18px !important;
			font-weight: 600 !important;
		}
	}
}
.sectionTwo__formContainer__button {
	color: #ADFF00;	
	font-family: 'Jost';
	font-size: 20px;
	font-weight: 700;
	line-height: normal;
	letter-spacing: 0.4px;
	text-transform: uppercase;
	padding: 15px 60px;
	border-radius: 38.5px;
	background-color: transparent;
	border: 2px solid #ADFF00;
	transition: 400ms;
	&:hover {
		transition: 400ms;
		color: #1E1E1E;
		background: #ADFF00;
		box-shadow: 0px 0px 15px 0px rgba(173, 255, 0, 0.25);
	}
	@media (max-width: 765px) {
		font-size: 16px !important;
		font-weight: 600 !important;
	}
}
//* ----------------- SECTION_TWO-CSS END ----------------- *//