.footer {
  max-width: 100%;
  margin-top: 310px;
}

.footer-container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 60px;
  padding-bottom: 110px;
  border-top: 1px solid #363636;
}
@media (max-width: 1020px) {
  .footer-container {
    padding-bottom: 80px !important;
  }
}
@media (max-width: 800px) {
  .footer-container {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    text-align: center !important;
  }
}

@media (max-width: 800px) {
  .footer__information {
    margin-bottom: 100px !important;
  }
}

.footer__information_titleH4 {
  margin-bottom: 55px;
}

.footer__information_subTitle {
  color: #FFF;
  font-family: "Montserrat";
  font-size: 20px;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  max-width: 476px;
  margin-bottom: 15px;
}
@media (max-width: 1020px) {
  .footer__information_subTitle {
    font-size: 14px !important;
    max-width: 350px !important;
  }
}

.footer__information_number {
  color: #858585;
  font-family: "Montserrat";
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;
  margin-bottom: 10px;
}
@media (max-width: 1020px) {
  .footer__information_number {
    font-size: 14px !important;
  }
}

.footer__information_geolocation {
  color: #858585;
  font-family: "Montserrat";
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;
  margin-bottom: 45px;
}
@media (max-width: 1020px) {
  .footer__information_geolocation {
    font-size: 14px !important;
  }
}

.footer__information_crovex {
  color: #ADFF00;
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
}

.footer__menuAndSoc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__menuAndSoc_menu {
  margin-right: 220px;
}
@media (max-width: 1270px) {
  .footer__menuAndSoc_menu {
    margin-right: 100px !important;
  }
}

.footer__menuAndSoc_menu_titleH4 {
  margin-bottom: 55px;
}

.menu_link {
  margin-bottom: 35px;
}
.menu_link:last-child {
  margin-bottom: 0;
}
.menu_link a {
  color: #FFF;
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  -webkit-transition: 500ms;
  transition: 500ms;
}
@media (max-width: 1020px) {
  .menu_link a {
    font-size: 14px !important;
  }
}
.menu_link a:hover {
  color: #ADFF00;
}

.footer__menuAndSoc_soc_titleH4 {
  margin-bottom: 55px;
}

.soc_link {
  margin-bottom: 35px;
}
.soc_link:last-child {
  margin-bottom: 0;
}
.soc_link a {
  color: #FFF;
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  -webkit-transition: 500ms;
  transition: 500ms;
}
@media (max-width: 1020px) {
  .soc_link a {
    font-size: 14px !important;
  }
}
.soc_link a:hover {
  color: #ADFF00;
}